---
Language:        Cpp
BasedOnStyle:  LLVM

# Indentation
IndentWidth:     4
TabWidth:        4
UseTab:          Never

# Braces (How { and } behave)
BreakBeforeBraces: Custom
BraceWrapping:
  AfterControlStatement: true
  AfterFunction: true
  AfterStruct: true
  AfterClass: true
  AfterEnum: true

# Spaces
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInCStyleCastParentheses: false

# Line length
ColumnLimit:     100
...